@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
//--col-base-background: #080808;
body {
    background-color: #151518 !important;
    font-family: 'Vollkorn', serif !important;
    line-height: 1.85 !important;
    --col-base-background: #080808 !important;
    
    .internal-link {
        color: #bd3029 !important;
        text-decoration: none !important;
    }
    .markdown-rendered ul {
        line-height: 1.5 !important;
        
    }
    
    h1, .markdown-rendered h1, .HyperMD-header-1, .HyperMD-list-line .cm-header-1 {
        font-size: 2.5em !important;
        font-family: 'UnifrakturMaguntia', cursive !important;
        text-shadow: #000000 2px 2px 3px, #00000067 4px 4px 6px !important;
        }
    h2, .markdown-rendered h2, .HyperMD-header-2, .cm-header-2, 
    h3, .markdown-rendered h3, .HyperMD-header-3, .cm-header-3, 
    h4, .markdown-rendered h4, .HyperMD-header-4, .cm-header-4 {
        font-family: 'Josefin Sans', sans-serif !important;
    
    }
    

    /***
    --h1-color: inherit;
    --h2-color: inherit;
    --h3-color: inherit;
    --h4-color: inherit;
    --h5-color: inherit;
    --h6-color: inherit;
    --h1-font: ;
    --h2-font: "Josefin Sans";
    --h3-font: "Josefin Sans";
    --h4-font: "Josefin Sans";
    --h5-font: "Josefin Sans";
    --h6-font: "Josefin Sans";
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
