@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
body {
    
    h1, .markdown-rendered h1, .HyperMD-header-1, .HyperMD-list-line .cm-header-1 {
        
        font-family: 'UnifrakturMaguntia', cursive !important;
        text-shadow: #00000042 2px 2px 3px, #00000017 4px 4px 6px !important;
        }

    /***
    --h1-color: inherit;
    --h2-color: inherit;
    --h3-color: inherit;
    --h4-color: inherit;
    --h5-color: inherit;
    --h6-color: inherit;
    --h1-font: ;
    --h2-font: "Josefin Sans";
    --h3-font: "Josefin Sans";
    --h4-font: "Josefin Sans";
    --h5-font: "Josefin Sans";
    --h6-font: "Josefin Sans";
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
